[submodule "Submodules/Eavesdrop"]
	path = Submodules/Eavesdrop
	url = https://github.com/ArachisH/Eavesdrop.git
[submodule "Submodules/Sulakore"]
	path = Submodules/Sulakore
	url = https://github.com/Elbrah/Sulakore.git
[submodule "Submodules/Wazzy"]
	path = Submodules/Wazzy
	url = https://github.com/ArachisH/Wazzy.git
[submodule "Submodules/Flazzy"]
	path = Submodules/Flazzy
	url = https://github.com/ArachisH/Flazzy.git
