<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Crypto.dll" version="1.8.1" targetFramework="net472" />
  <package id="BrotliSharpLib" version="0.3.3" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
</packages>