<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IncomingStructures" value=""/>
		<add key="OutgoingStructures" value=""/>

		<add key="FlashInterceptionTriggers" value="info.host,info.port,flashvars"/>
		<add key="UnityInterceptionTriggers" value="UnityLoader.instantiate,unityContainer,arguments,-server,-ticket"/>

		<add key="GameListenPort" value="9567"/>
		<add key="ProxyListenPort" value="42822"/>
		
		<add key="ModulesListenPort" value="8055"/>
		<add key="IsQueuingModulePackets" value="false"/>

		<add key="UIScheme" value="#f33f3f"/>
		<add key="IsCheckingForUpdates" value="true"/>
		<add key="IsModifyingRetroWebResponses" value="true"/>

		<add key="ProxyOverrides" value="*msn*,*spotify*,*msecnd*,*ttvnw*,*edge*,*microsoft*,*bing*,*google*,*discordapp*,*discord*,*gstatic*,*imgur*,*github*,*googleapis*,*facebook*,*cloudfront*,*gvt1*,*jquery*,*akamai*,*ultra-rv*,*youtube*,*ytimg*,*ggpht*"/>
	</appSettings>
</configuration>