<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="IsQueuingModulePackets" value="true"/>

    <add key="InStructureOverrides" value=""/>
    <add key="OutStructureOverrides" value=""/>

    <add key="CacheBlacklist" value=""/>
    <add key="InterceptionTriggers" value="info.host,info.port,flashvars"/>

    <add key="GameListenPort" value="9567"/>
    <add key="ProxyListenPort" value="42822"/>

    <add key="UIScheme" value="#f33f3f"/>
    <add key="IsCheckingForUpdates" value="true"/>

    <add key="ProxyOverrides" value="*google*,*discordapp*,*gstatic.com,*imgur.com,*github.com,*googleapis.com,*facebook.com,*cloudfront.net,*gvt1.com,*jquery.com,*akamai.net,*ultra-rv.com,*youtube*,*ytimg*,*ggpht*"/>
  </appSettings>
</configuration>