<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IsQueuingModulePackets" value="true"/>

		<add key="InStructureOverrides" value=""/>
		<add key="OutStructureOverrides" value=""/>

		<add key="CacheBlacklist" value=""/>
		<add key="InterceptionTriggers" value=""/>
		<add key="FlashInterceptionTriggers" value="info.host,info.port,flashvars"/>
		<add key="WASMInterceptionTriggers" value="habbo2020-global-prod.data.unityweb,habbo2020-global-prod.wasm.code.unityweb,habbo2020-global-prod.wasm.framework.unityweb"/>
		<add key="UserInterceptionTriggers" value="accountId,buildersClubMember,creationTime,country,email,emailVerified,figureString,force,habboClubMember,identityId,identityType,identityVerified,loginLogId,name,partner,sessionLogId,traits,trusted,uniqueId,motto,lastWebAccess,lastPreRollAdTime"/>

		<add key="GameListenPort" value="9567"/>
		<add key="ProxyListenPort" value="42822"/>
		<add key="ModulesListenPort" value="8055"/>

		<add key="UIScheme" value="#f33f3f"/>
		<add key="IsCheckingForUpdates" value="true"/>

		<add key="ProxyOverrides" value="*msn*,*spotify*,*msecnd*,*ttvnw*,*edge*,*microsoft*,*bing*,*google*,*discordapp*,*gstatic*,*imgur*,*github*,*googleapis*,*facebook*,*cloudfront*,*gvt1*,*jquery*,*akamai*,*ultra-rv*,*youtube*,*ytimg*,*ggpht*"/>
	</appSettings>
</configuration>